<div class="container" [class.header]="isScrolled">
    <a class="logo"><img src="../../../assets/images/driving.jpg"/><span> RIVING</span></a>
    <ul>
        <li><a href="#">Home</a></li>
        <li class="mode-content"><a href="#">try with <i class="fa-solid fa-caret-down"></i></a>
         <ul class="mode">
            <li><a href="#">with image</a></li>
            <li><a href="#">with video</a></li>
            <li><a href="#">with camera</a></li>
         </ul>
        
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact us</a></li>
    </ul>

</div>