<div class="container">
    <h2>About</h2>
    <div class="container-about">
        <p>In this project, we have created and refined machine learning models to detect what the driver is doing in a car given driver images. This is done by predicting the likelihood of what the driver is doing in each picture.</p>
    </div>
    <div class="about-classes">
        <div class="c0 left">
            <h4>
                Class c0
            </h4>
            <p>safe driving</p>
        </div>
        <div class="c1 right">
            <h4>
                Class c1
            </h4>
            <p>texting - right</p>
        </div>
        <div class="c2 left">
            <h4>
                Class c2
            </h4>
            <p>talking on the phone - right</p>
        </div>
        <div class="c3 right">
            <h4>
                Class c3
            </h4>
            <p>texting - left</p>
        </div>
        <div class="c4 left">
            <h4>
                Class c4
            </h4>
            <p>talking on the phone - left</p>
        </div>
        <div class="c5 right">
            <h4>
                Class c5
            </h4>
            <p>operating the radio</p>
        </div>
        <div class="c6 left">
            <h4>
                Class c6
            </h4>
            <p>drinking</p>
        </div>
        <div class="c7 right">
            <h4>
                Class c7
            </h4>
            <p> reaching behind</p>
        </div>
        <div class="c8 left">
            <h4>
                Class c8
            </h4>
            <p> hair and makeup</p>
        </div>
        <div class="c9 right">
            <h4>
                Class c9
            </h4>
            <p>talking to passenger</p>
        </div>
    </div>
</div>
