@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

.container{
    position: relative;
    width: 100%;
    height: 100vh;
}
video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    opacity: .9;
}
h1{
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
 color: #FF9800;
 text-wrap: nowrap;
 font-size: 40px;
 font-weight: 900;
 text-shadow: 0px 0px 1px #000;
 font-family: 'Times New Roman', Times, serif;
 font-family: "Jersey 15", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 50px;
 text-shadow: 1px 1px 2px red, 0 0 1em #FFF455, 0 0 0.2em #FFF455;
}
.scroll-down{
    padding: 10px 15px;
    background-color:#007F73;
    color: white;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-family: "Jersey 15", sans-serif;
    font-size: 20px;
    position: absolute;
    left:50%;
    top: 65%;
    transform: translate(-50%,-65%);
    z-index: 1;
    box-shadow: 0px 0px 12px gray;
    cursor: pointer;
}
i{
    font-size: 15px;
}
