@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(130deg,#1E0342 50%,#074173 50%);
}
/*video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    opacity: .9;
}*/
h1{
 color: #FF9800;
 text-wrap: nowrap;
 font-family: "Jersey 15", sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 50px;
  padding-bottom: 40px;
}
.btn{
  display: flex;
  gap: 30px;
}
.scroll-down{
    padding: 10px 15px;
    background-color:#864AF9;
    color: white;
    border-radius: 10px;
    font-family: "Jersey 15", sans-serif;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
}
i{
    font-size: 15px;
}
.learn{
  background-color:#37B5B6;
}

@media screen and (max-width: 866px){
  h1{
    text-wrap: wrap;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .container{
    height: 500px;
  }
}
