*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}
body{
  overflow-x: hidden;
  background-color: whitesmoke;
 /* padding-top: 90px;*/
}
